@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
}

header {
    width: 100vw;
    background: #ABABAB;
}

.start {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    background: #ABABAB;
}

.box-one{
    height: 220px;
    display: block;
    margin: 100px 0 0 0;
    padding: 50px;
    background: #9c9a9a;
    border-radius: 0 20px 20px 0;
    align-self: flex-start;
}

.title-one {
  font-size: 70px;
  font-family: 'Croissant One';
  margin-left: 100px;
}

.paragraph-one {
    font-size: 35px;
    line-height: 0; /* nunca use 0 — use 1 ou 1.2 */
    font-family: 'Montserrat Alternates';
    position: relative;
    left: 450px;

}

.img-one {
    width: 450px;
    border-radius: 20px;

}

.img-two {
    width: 60px;
    position: relative;
    left: 80px;
    bottom: 100px;
}

.img-two-special {
    width: 70px;
    height: 70px;
    position: relative;
    left: 80px;
    bottom: 95px;
}

main {
    background: linear-gradient(to bottom, #ABABAB, #fff);
    width: 100vw;
    padding: 100px 0;
}

.start-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    width: 100%;
}

.title-two {
    font-size: 50px;
    font-family: 'Croissant One';
  
}

.paragraph-two {
    font-size: 30px;
    font-family: 'Montserrat Alternates';
}

.img-three {
    height: 550px;
    border-radius: 50px;


}